body {
    background-color: gray;
}

.nav-container {
    border: 1px solid black;
    
   
}
ul {
    list-style-type: none;
    display: flex;
}

#nav-btn-1 {
    border: 1px solid black;
    width: 75px;
    height: 35px;
    
   
}

#nav-btn-2 {
    border: 1px solid black;
    width: 75px;
    height: 35px;
}

#nav-btn-3 {
    border: 1px solid black;
    width: 75px;
    height: 35px;
}

#nav-btn-4 {
    border: 1px solid black;
    width: 75px;
    height: 35px;
}